<h1>Todo List</h1>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><i class="fa fa-<%= task.done == true ? "check-" : "" %>square"></i></td>
      <td><%= link_to "detail", task_path(task) %></td>
    </tr>
  <% end %>
</table>

<div><%= link_to "NEW TASK", new_task_path, class: "btn btn-primary" %></div>

